body {
    text-align: center;
    background-color: blueviolet;
}

.piece {
    vertical-align:top;
    width: 160px;
    height: 100px;
}

.selected {
    vertical-align:top;
    width: 154px;
    height: 94px;
    border: 3px groove gold;
}